@keyframes openclose {
    /* Steppa */
    0.0% { width: 0; top: -0.0em;}
    1.4705882352941178% { width: 100%; top: -0.0em;}
    2% { width: 0px; top: -0.0em;}
    /* Lo-fi chamber pop */
    2.9411764705882355% { width: 0; top: -1.5em;}
    4.411764705882353% { width: 100%; top: -1.5em;}
    5% { width: 0px; top: -1.5em;}
    /* Rock */
    5.882352941176471% { width: 0; top: -3.0em;}
    7.352941176470589% { width: 100%; top: -3.0em;}
    8% { width: 0px; top: -3.0em;}
    /* Singer-Songwriter */
    8.823529411764707% { width: 0; top: -4.5em;}
    10.294117647058824% { width: 100%; top: -4.5em;}
    11% { width: 0px; top: -4.5em;}
    /* Dance */
    11.764705882352942% { width: 0; top: -6.0em;}
    13.23529411764706% { width: 100%; top: -6.0em;}
    14% { width: 0px; top: -6.0em;}
    /* Blues */
    14.705882352941178% { width: 0; top: -7.5em;}
    16.176470588235297% { width: 100%; top: -7.5em;}
    17% { width: 0px; top: -7.5em;}
    /* Indie */
    17.647058823529413% { width: 0; top: -9.0em;}
    19.11764705882353% { width: 100%; top: -9.0em;}
    20% { width: 0px; top: -9.0em;}
    /* Progressive */
    20.58823529411765% { width: 0; top: -10.5em;}
    22.058823529411768% { width: 100%; top: -10.5em;}
    23% { width: 0px; top: -10.5em;}
    /* Dub */
    23.529411764705884% { width: 0; top: -12.0em;}
    25.0% { width: 100%; top: -12.0em;}
    26% { width: 0px; top: -12.0em;}
    /* Garage */
    26.47058823529412% { width: 0; top: -13.5em;}
    27.94117647058824% { width: 100%; top: -13.5em;}
    29% { width: 0px; top: -13.5em;}
    /* Trip Hop */
    29.411764705882355% { width: 0; top: -15.0em;}
    30.88235294117647% { width: 100%; top: -15.0em;}
    32% { width: 0px; top: -15.0em;}
    /* Folk */
    32.352941176470594% { width: 0; top: -16.5em;}
    33.82352941176471% { width: 100%; top: -16.5em;}
    35% { width: 0px; top: -16.5em;}
    /* R&B */
    35.294117647058826% { width: 0; top: -18.0em;}
    36.76470588235294% { width: 100%; top: -18.0em;}
    38% { width: 0px; top: -18.0em;}
    /* Drum & Bass */
    38.23529411764706% { width: 0; top: -19.5em;}
    39.70588235294118% { width: 100%; top: -19.5em;}
    41% { width: 0px; top: -19.5em;}
    /* Trance */
    41.1764705882353% { width: 0; top: -21.0em;}
    42.64705882352941% { width: 100%; top: -21.0em;}
    44% { width: 0px; top: -21.0em;}
    /* Heavy metal */
    44.117647058823536% { width: 0; top: -22.5em;}
    45.58823529411765% { width: 100%; top: -22.5em;}
    47% { width: 0px; top: -22.5em;}
    /* Breaks */
    47.05882352941177% { width: 0; top: -24.0em;}
    48.529411764705884% { width: 100%; top: -24.0em;}
    50% { width: 0px; top: -24.0em;}
    /* Art Rock */
    50.1% { width: 0; top: -25.5em;}
    51.47058823529412% { width: 100%; top: -25.5em;}
    52% { width: 0px; top: -25.5em;}
    /* psych folk */
    52.94117647058824% { width: 0; top: -27.0em;}
    54.411764705882355% { width: 100%; top: -27.0em;}
    55% { width: 0px; top: -27.0em;}
    /* hybrid */
    55.88235294117648% { width: 0; top: -28.5em;}
    57.352941176470594% { width: 100%; top: -28.5em;}
    58% { width: 0px; top: -28.5em;}
    /* noise pop */
    58.82352941176471% { width: 0; top: -30.0em;}
    60.294117647058826% { width: 100%; top: -30.0em;}
    61% { width: 0px; top: -30.0em;}
    /* Alt-Pop */
    61.76470588235294% { width: 0; top: -31.5em;}
    63.235294117647065% { width: 100%; top: -31.5em;}
    64% { width: 0px; top: -31.5em;}
    /* Chillhop */
    64.70588235294119% { width: 0; top: -33.0em;}
    66.1764705882353% { width: 100%; top: -33.0em;}
    67% { width: 0px; top: -33.0em;}
    /* Briminal */
    67.64705882352942% { width: 0; top: -34.5em;}
    69.11764705882354% { width: 100%; top: -34.5em;}
    70% { width: 0px; top: -34.5em;}
    /* Slowcore */
    70.58823529411765% { width: 0; top: -36.0em;}
    72.05882352941177% { width: 100%; top: -36.0em;}
    73% { width: 0px; top: -36.0em;}
    /* Shoegaze */
    73.52941176470588% { width: 0; top: -37.5em;}
    75.0% { width: 100%; top: -37.5em;}
    76% { width: 0px; top: -37.5em;}
    /* Soul */
    76.47058823529412% { width: 0; top: -39.0em;}
    77.94117647058825% { width: 100%; top: -39.0em;}
    79% { width: 0px; top: -39.0em;}
    /* Noise Pop */
    79.41176470588236% { width: 0; top: -40.5em;}
    80.88235294117648% { width: 100%; top: -40.5em;}
    82% { width: 0px; top: -40.5em;}
    /* trap */
    82.3529411764706% { width: 0; top: -42.0em;}
    83.82352941176471% { width: 100%; top: -42.0em;}
    85% { width: 0px; top: -42.0em;}
    /* Country */
    85.29411764705883% { width: 0; top: -43.5em;}
    86.76470588235294% { width: 100%; top: -43.5em;}
    88% { width: 0px; top: -43.5em;}
    /* Reggaeton */
    88.23529411764707% { width: 0; top: -45.0em;}
    89.70588235294119% { width: 100%; top: -45.0em;}
    91% { width: 0px; top: -45.0em;}
    /* Hyperpop */
    91.1764705882353% { width: 0; top: -46.5em;}
    92.64705882352942% { width: 100%; top: -46.5em;}
    94% { width: 0px; top: -46.5em;}
    /* psychedelic rock */
    94.11764705882354% { width: 0; top: -48.0em;}
    95.58823529411765% { width: 100%; top: -48.0em;}
    97% { width: 0px; top: -48.0em;}
    /* Latin */
    97.05882352941177% { width: 0; top: -49.5em;}
    98.52941176470588% { width: 100%; top: -49.5em;}
    100% { width: 0px; top: -49.5em;}
}